.pop-up {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 195px;
    left: 425px;
    right: 425px;
    z-index: 1;
    width: 430px;
    height: 330px;
    background-color: #fff;
    border: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
    .pop-up {
        max-width: 282px;
        top: 123px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}