.pop-up__button-close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/Close_Icon.svg);
    background-color: #000;
    object-fit: contain;
    border: none;
}

.pop-up__button-close:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .pop-up__button-close {
        background-image: url(../../../images/Close_Icon_320.svg);
        width: 20px;
        height: 20px;
        right: 19px;
    }
}