.elements__photo{
    display: flex;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 282px;
    height: 282px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    opacity: 1;
}