.profile__info{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0;
    max-width: 336px;
    align-items: flex-start;
}

@media screen and (max-width: 767px) {
    .profile__info {
        max-width: 282px;
        margin-top: 18px;
        margin-bottom: 32.5px;
        align-items: center;
        justify-content: center;
    }
}